@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.tag {
	background-color: $lighter-grey;
	border-radius: 20px;
	padding: 6px 10px;
	margin-right: 10px;
	box-sizing: border-box;
	box-shadow: $box-shadow-1;
	transition: $transition;
	cursor: pointer;

	&:hover {
		box-shadow: $box-shadow-2;
	}
}
