@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";
.form-group {
	// background: #ccc;
	position: relative;
	@include notoSans16;
	color: $primary-light;

	label {
		padding: 0 6px;
		display: block;
		position: absolute;
		background: $white;
		top: -1.2vh;
		left: 16px;
		transition: $transition;
		color: $secondary;
	}

	input {
		@include notoSans16;
		border-radius: 5px;
		border: 1px solid $primary-light;
		width: 500px;
		height: 60px;
		box-sizing: border-box;
		padding: 6px 20px;
		transition: $transition;
		box-shadow: $box-shadow-1;
		transition: $transition;

		&:focus {
			border: 1px solid $secondary;
			box-shadow: $box-shadow-2;
		}
	}

	.label-hide {
		opacity: 0;
	}
	.label-focus {
		opacity: 1;
		// change these later
	}
}
