@import "../../assets/styles/variables.scss";
@import "../../assets//styles/mixins.scss";
.btn {
	border-radius: 5px;
	width: 100%;
	padding: 0 18px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include notoSans18;
	cursor: pointer;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

	text-decoration: none;

	&:hover {
		background: $primary-dark;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
			0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	}

	&.btn-lg {
		width: 400px;
		height: 60px;
		@include notoSans18Bold;

		@media (max-width: 991px) {
			width: 300px;
			height: 50px;
			@include notoSans18;
		}
	}

	&.btn-submit {
		@include notoSans18Bold;
		width: 100%;
	}

	&.btn-delete {
		@include notoSans18Bold;
		background: $red;
		color: $white;
	}

	&.btn-secondary {
		@include notoSans18Bold;
		background: $secondary;
		color: $primary;
	}

	&.btn-primary,
	&.btn-submit {
		@include notoSans18Bold;
		background: $primary;
		color: $white;
	}

	&.btn-outline {
		background: $white;
		border: 1px solid $light-grey;
	}

	&.btn-google {
		background: $google;
		color: $white;
	}

	&.btn-facebook {
		background: $facebook;
		color: $white;
	}

	&.btn-spotify {
		background: $spotify;
		color: $white;
	}
}
