@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixins.scss";

.conversation,
.conversation-lg {
	background: url("../../../../assets/images/attractive-beautiful-beautiful-girl-799420-min.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	box-shadow: $box-shadow-1;
	cursor: pointer;
	transition: $transition;
	position: relative;
	overflow-y: hidden;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	&:hover {
		box-shadow: $box-shadow-2;

		.conversation-front .show-more-info {
			opacity: 1;
		}
	}

	.conversation-front {
		.show-more-info {
			padding: 10px;
			opacity: 0;
			position: absolute;
			bottom: 10px;
			right: 10px;
			transition: $transition;
		}
	}

	.conversation-back {
		padding: 20px;
		text-align: left;

		grid-column: 1/-1;
		grid-row: 1/-1;
		background: rgba(255, 255, 255, 0.8);
		transition: $transition;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: auto;

		// These 3 lines solve this issue https://prnt.sc/lv4m6b, which you can find in Pictures as 0.33px-issue.jpg
		width: calc(100% + 0.67px);
		height: calc(100% + 0.67px);
		overflow: hidden;
		box-sizing: border-box;

		p {
			margin: 0;
		}

		.flex-row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			// changes width: 100% to initial
			a {
				width: initial;
			}
		}
		.conversation-show-less {
			padding: 10px;
			cursor: pointer;
		}
		.conversation-date,
		.conversation-summary {
			@include notoSans16;
			color: $primary-light;
		}
		.conversation-title {
			@media (min-width: 991px) {
				@include fugazOne24;
			}
			margin: 0;
		}

		.conversation-read-more {
			@include notoSans16;
		}

		&.conversation-back-hide {
			transform: translateY(100%);
			visibility: hidden;
		}

		&.conversation-back-show {
			transform: translateY(0);
		}
	}
}
.conversation-lg {
	@media (min-width: 768px) {
		grid-column: span 2;
		grid-row: span 2;

		.conversation-front {
			.show-more-info {
				width: 60px;
				height: 60px;
				bottom: 25px;
				right: 25px;
			}
		}

		.conversation-back {
			padding: 45px;
			.conversation-show-less {
				width: 40px;
				height: 40px;
			}
		}
	}
}
