@import "../../assets/styles/variables.scss";
.form-container {
	height: 100%;
	box-sizing: border-box;
	font-size: 1.8rem;
	position: relative;

	.form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		height: 100%;

		button {
			height: 60px;
			width: auto;
			align-self: flex-end;
			border: 0;
			border-radius: 10px;
		}

		.error-message {
			color: red;
			font-weight: bold;
			position: absolute;
			top: -25px;
			width: 100%;
			text-align: center;
		}
	}
}
