@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";
.footer {
	width: 100%;
	height: 100px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(12, 1fr);
	box-sizing: border-box;
	justify-items: center;

	background-color: $primary;
	color: $secondary;

	.footer-text {
		@include notoSans16;
		color: $secondary;
		grid-column: 2/7;

		@media (min-width: 768px) {
			@include notoSans24;
			color: $secondary;
			grid-column: 4/10;
		}
	}

	.footer-image {
		height: 60px;
		grid-column: 10/12;
	}
}
