@import "./assets/styles/variables.scss";
html {
	font-size: 10px;
}

.App {
	text-align: center;
	font-size: 1.6rem;
	position: relative;
	min-height: 100vh;
}

.container {
	width: 80vw;
	margin: auto;
}
