@import "./variables.scss";
@import "./mixins.scss";

.medium-toolbar-arrow-under:after {
	border-color: $primary-light transparent transparent transparent;
	top: 50px;
}

.medium-toolbar-arrow-over:before {
	border-color: transparent transparent $primary-light transparent;
	top: -8px;
}

.medium-editor-toolbar {
	background-color: $primary;
	background: -webkit-linear-gradient(top, $primary, $primary-light);
	background: linear-gradient(to bottom, $primary, $primary-light);
	border: 1px solid $primary-light;
	border-radius: 5px;
	box-shadow: $box-shadow-1;
}
.medium-editor-toolbar li button {
	background-color: $primary-dark;
	background: -webkit-linear-gradient(top, $primary, $primary-light);
	background: linear-gradient(to bottom, $primary, $primary-light);
	border: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: $box-shadow-2;
	color: $white;
	height: 50px;
	min-width: 50px;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}
.medium-editor-toolbar li button:hover {
	background-color: $primary-light;
	color: $secondary;
}
.medium-editor-toolbar li .medium-editor-button-first {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.medium-editor-toolbar li .medium-editor-button-last {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.medium-editor-toolbar li .medium-editor-button-active {
	background-color: $primary-dark;
	background: -webkit-linear-gradient(top, $primary, $primary-dark);
	background: linear-gradient(to bottom, $primary, $primary-dark);
	color: $white;
}

.medium-editor-toolbar-form {
	background: $primary;
	border-radius: 5px;
	color: $primary-light;
}
.medium-editor-toolbar-form .medium-editor-toolbar-input {
	background: $primary-light;
	box-sizing: border-box;
	color: $white;
	height: 50px;
}
.medium-editor-toolbar-form a {
	color: $white;
}

.medium-editor-toolbar-anchor-preview {
	background: $primary-dark;
	border-radius: 5px;
	color: $white;
}

.medium-editor-placeholder:after {
	color: $primary;
}

.medium-editor-action {
	// @include fugazOne36;
	// @include fugazOne24;
	// @include notoSans24;
	// font-size: 36px;
}
