@import "./variables.scss";

// Fonts
@mixin fugazOne48 {
	font-family: "Fugaz One", sans-serif;
	font-size: 4.8rem;
	font-weight: bold;
	color: $primary;
}
@mixin fugazOne36 {
	font-family: "Fugaz One", sans-serif;
	font-size: 3.6rem;
	font-weight: bold;
	// color: $primary;
}
@mixin fugazOne24 {
	font-family: "Fugaz One", sans-serif;
	font-size: 2.4rem;
	font-weight: bold;
	// color: $primary;
}
@mixin fugazOne18 {
	font-family: "Fugaz One", sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
	// color: $primary;
}
@mixin notoSans36 {
	font-family: "Noto Sans", sans-serif;
	font-size: 3.6rem;
	font-weight: 400;
	color: $primary;
}
@mixin notoSans24 {
	font-family: "Noto Sans", sans-serif;
	font-size: 2.4rem;
	font-weight: 400;
	color: $primary;
}
@mixin notoSans18 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	color: $primary;
}
@mixin notoSans18Bold {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: $primary;
}
@mixin notoSans16 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color: $primary;
}
