.container {
	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575.98px) {
		width: auto;
	}

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) {
		width: 540px;
	}

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991.98px) {
		width: 720px;
	}

	// Large devices (desktops, less than 1200px)
	@media (max-width: 1199.98px) {
		width: 960px;
	}

	// Extra large by default
	width: 1140px;
}

.test {
	font-size: 2.4rem;
}
