@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.create {
	background: url("../../../assets/images/Confetti-Doodles-white-secondary-primary.svg");
	display: grid;
	grid-template-areas:
		"navbar"
		"main"
		"footer";
	grid-template-rows: 250px auto 100px;
	overflow-x: hidden;

	.navbar {
		grid-area: navbar;
	}

	.main {
		min-height: calc(100vh - 350px);
		grid-area: main;

		display: grid;
		justify-items: center;
		grid-gap: 50px;
		margin-bottom: 50px;
	}

	.footer {
		grid-area: footer;
	}

	.input-group {
		display: grid;
		justify-items: center;
		grid-gap: 20px;

		input {
			text-align: center;
			border: 0;
			border-bottom: 1px solid $light-grey;
			padding: 10px;
		}
		.input-title {
			@include fugazOne48;
		}
		.input-description {
			@include notoSans16;
			object-fit: fill;
		}
		color: $primary-light;
	}

	.conversation {
		padding: 25px;
		box-sizing: border-box;
		background-color: $white;
		outline: none;
		text-align: left;
		cursor: text;
		box-shadow: $box-shadow-1;
		transition: $transition;
		@include notoSans24;
		color: $primary-light;
		line-height: 2;

		display: grid;
		grid-template-rows: auto 50px;

		&:hover {
			box-shadow: $box-shadow-2;
		}

		// The editor
		> div:first-child {
			min-height: 600px;
			width: 100%;

			p {
				margin: 0;
			}
		}

		// remove outline when focused
		> div:focus {
			outline: none;
		}

		.conversation-options {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-gap: 20px;
			justify-items: flex-end;
			align-items: center;

			> :first-child {
				grid-column: 2/3;
				height: 50px;
				font-weight: bold;
			}

			> :last-child {
				grid-column: 3/4;
				height: 50px;
				font-weight: bold;
			}
		}

		@media (min-width: 768px) {
			width: 600px;
			padding: 25px;
		}

		@media (min-width: 991px) {
			width: 800px;
			padding: 50px;
		}

		@media (min-width: 1200px) {
			width: 1000px;
		}
	}
}
